@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4gp02x');
  src:  url('fonts/icomoon.eot?4gp02x#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4gp02x') format('truetype'),
    url('fonts/icomoon.woff?4gp02x') format('woff'),
    url('fonts/icomoon.svg?4gp02x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-keyboard_arrow_up:before {
  content: "\e900";
}
.icon-verified:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-link:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-moon-stroke:before {
  content: "\e905";
}
.icon-menu3:before {
  content: "\e9bf";
}
.icon-sun:before {
  content: "\e9d4";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-cross:before {
  content: "\e901";
}