
/* ///////////////////////
1- left section
2- animation 
////////////////////// */


section.hero{
    margin-top: 3rem;
}

/* (1) left-section */
section.hero .left-section {
/* flex-grow: 1; */
width: 60%;
}
section.hero .parent-avatar{
    display: flex;
    align-items: end;
    gap: 0.1rem;
}
.avatar{
    width: 200px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px var(--main-color);
    background-color: var(--title) ;
}
.hero .left-section .parent-avatar .icon-verified{
    color: var(--blue);
    font-size: 1.1rem;
}
section.hero h1.title{
    font-size: 2.85rem;
    line-height: 3.3rem;
    margin: 24px 0;
    color: var(--title);
}
section.hero p.subTitle{
    color: var(--subTitle);
    font-size: 1rem;
    line-height: 1.4rem;
    margin-bottom: 23px;
}
section.hero p.subTitle span a{
    color: var(--main-color);
    text-decoration: underline;
    font-weight: 700;
    padding-left: 10px;
}
section.hero .AllIcons{
    display: flex;
    font-size: 1.2rem;
    gap: 1.2rem;
}
section.hero .AllIcons .icon{
    /* transition: all 0.5s; */
    color: var(--subTitle);
}
section.hero .AllIcons .icon:hover{
    color: var(--main-color);
    /* scale: 1.5; */
    cursor: pointer;
    font-size: 1.3rem;
}


/* (2)animation  */
section.hero .right-section{
    width: 40%;
}

@media (max-width:700px){
    section.hero .right-section{
        display: none;
    }
    section.hero .left-section{
        width: 100%;
    }
}